<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheTydyshTV_Bot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TheTydyshTV_Bot.Properties.Settings>
      <setting name="actionTime" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="defChanceBlEv" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="enAutoFight" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enBossAutoFight" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="intervalAutoFight" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="intervalBossAutoFight" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="minTournamentFighters" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="channelName" serializeAs="String">
        <value>thetydyshtv</value>
      </setting>
      <setting name="channelId" serializeAs="String">
        <value>w0bwo53aps3ef1kuh2mw4edzu4cfoq</value>
      </setting>
      <setting name="botName" serializeAs="String">
        <value>TheTydyshTV</value>
      </setting>
      <setting name="twitchOAuth" serializeAs="String">
        <value>hfjuhv3gbi043qkn7isn8en2vaotwx</value>
      </setting>
      <setting name="serverPort" serializeAs="String">
        <value>49050</value>
      </setting>
      <setting name="serverIP" serializeAs="String">
        <value>159.69.223.153</value>
      </setting>
    </TheTydyshTV_Bot.Properties.Settings>
  </userSettings>
</configuration>